@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    display: flex;
    margin-top: 1.8em;
    width: 100%;
    flex-direction: column;
    /* text-align: center; */
}

.info{
    margin-left: 1em;
    padding: .4em;
}

.post-name{
    display: inline-block;
    background-color: rgb(226, 226, 226);
    width: auto;
    min-width: 15%;
    max-width: 30%;
    /* height: 35px; */
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.1em;
    padding-left: .4em;
    padding-right: .4em;
    margin-left: 1em;
    border-radius: .5em;
}

.post-point{
    display: inline-block;
    margin-left: 1em;
    min-width: 10%;
    max-width: 80%;
    background-color: rgb(226, 226, 226);
    font-size: 1.5em;
    padding: .3em;
    border-radius: .5em;
}

.post-blog{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;
    width: 4.5em;
    height: 3em;
    padding: .2em;
    background-color: rgb(49, 202, 49);
    border-radius: 1em;
    cursor: pointer;
}