@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
}

.blog-post{
    width: 80%;
}

h3{
    margin-top: 10px;
}