@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: row;
}

.blog-post{
    width: 80%;
}

h3{
    margin-top: 10px;
}

.rating-section{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

/* comment section */

.comment{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    border-radius: .5em;
    padding: 1em;
}

.comment-point{
    height: 20em;
    background-color: rgb(243, 243, 243);
    font-size: 1.3em;
    padding-bottom: 1em;
    overflow-y: scroll;
}

.comment-point::-webkit-scrollbar{
    height: 200px;
}

.add-comment{
    background-color: rgb(228, 228, 228);
    border-radius: 1em;
    padding: .6em;
    resize: none;
    border: none;
}

.add-comment:empty::before{
    content: attr(placeholder);
}

.add-comment:focus{
    outline: none;
}

.post-comment{
    display: none;
    width: 80%;
    justify-content: center;
    background-color: rgb(40, 211, 40);
    opacity: 0;
    transition: all .3s;
    padding-top: .3em;
    padding-bottom: .3em;
    border: none;
}

.show{
    display: flex;
    opacity: 1;
}

.comments{
    padding: 1em;
    margin-top: .3em;
    background-color: rgb(233, 233, 233);
    border-radius: .5em;
}

.comments > p{
    padding-left: 1.4em;
}